<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/260497237c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <title>CSV Files</title>
</head>

<body>
    <div class="bg-gray-50 pt-10 min-h-screen">
        <section class=" w-full ">

            <form class="max-w-5xl mx-auto w-full flex justify-center " action="/upload" method="POST"
                enctype="multipart/form-data">
                <div class="w-full">

                    <label for="file1">
                        <div
                            class="h-60 cursor-pointer flex justify-center flex-col items-center mx-auto max-w-md border-dashed w-full border-2 border-black rounded-2xl">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                                stroke="currentColor" class="w-10 h-10">
                                <path strokeLinecap="round" strokeLinejoin="round"
                                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                            </svg>

                            <h1> CSV File Upload</h1>
                        </div>
                    </label>
                    <input type="file" name="file" id="file1" required hidden>
                    <div class="w-full max-w-sm mx-auto flex mt-5 justify-center">
                        <input type="submit" name="submit" id="submit" value="Submit"
                            class="border cursor-pointer  text-center px-4 py-2 bg-indigo-500 text-white ">
                    </div>

                </div>

            </form>
            <div class="max-w-xl mt-5 space-y-4 mx-auto w-full">
                <% for(f of file) {%>
                <p class="border h-14 capitalize text-2xl flex justify-between px-8 items-center bg-white rounded">
                    <a href="/upload/file/<%= f.file %>"> <%= f.originalName %> </a>

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/delete/<%= f.file %>"><i class="far fa-times-circle"></i></a>

                </p>
                <% } %>
            </div>
            <div>

            </div>
        </section>
    </div>
</body>

</html>